<div class="jumbotron">

<div class="container">

    <h1 class="display-4" style="padding-top:20px">ABOUT</h1>

    <hr/>

    </br>

    <style>
        .fa-beer{
            transition: 0.5s;
        }
        .fa-beer:hover{
            color: #6c757d;
        }
    </style>


        <p>
        This is a sample blogging website created by Pattypan.<br> <br>
            <b> A quick tutorial about the website: </b> You can create posts, delete posts, edit posts, change their visibility, create/delete categories for posts, set/change them in create/edit, set visibility of comments, and much more.
            You can comment on each others posts, and a messaging functionality will be added soon. <br>
            <br> This website was created using Bootstrap and node.js. </br>
        <br> Feel free to use it as you wish. <br>
            Cheers. xx <br>
    </p>

        <i class="fa fa-beer fa-2x"></i>
    </div>

</div>